@import url(/salmanalfarisirizwana/sub-css/navbar.css);
@import url(/salmanalfarisirizwana/sub-css/header.css);
@import url(/salmanalfarisirizwana/sub-css/about.css);
@import url(/salmanalfarisirizwana/sub-css/service.css);

* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --buttonbg: #F05454;
    --background: #083358;
    --background2: #edf6ff;
    --highlight: #F05454;
    --text: white;
    --hoverbtn: #FF4545;
    --hoverlink: #FEC89A;
    --text2: #000;
    --background3: #ffffff;

    /* SLIDER  */

    --slider: #F1F1F1;
    --development: #FFD717;
    --visual: #00377E;
    --photography: #FEC89A;
    --apps: #650000;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Header Profile */
