header {
    background-color: var(--background2);
    padding-bottom: 153px;
}

header .judul h1 {
    color: var(--text2);
    font-size: 35px;
    padding-top: 75px;
    margin-left: 7%;
    margin-bottom: 75px;
}

header .foto-profil img {
    width: 150px;
    margin-left: 7%;
    border-radius: 150px;
}

.about-cv-container {
    display: flex;
    justify-content: space-evenly;
}

.wrapper {
    display: flex;
    width: 980px;
    height: 284px;
    background-color: var(--background3);
    border-radius: 15px;
    padding: 30px 0 0 40px;
    box-shadow: 0px 4px 20px -5px #0000001e;
}

.bio {
    margin-right: 40px;
}

.bio p {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    width: 604px;
    height: 181px;
    margin-bottom: 30px;
}

input[type=button] {
    background-color: var(--buttonbg);
    height: 40px;
    width: 170px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: var(--text);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.200);
    transition: 300ms ease-in-out;
}

input[type=button]:hover {
    background-color: var(--hoverbtn);
}

#myProgress {
    width: 285px;
    border-radius: 10px;
    background-color: var(--slider);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#myBar1 {
    width: 85%;
    height: 5px;
    background-color: var(--development);
}

#myBar2 {
    width: 90%;
    height: 5px;
    background-color: var(--hoverbtn);
}

#myBar3 {
    width: 80%;
    height: 5px;
    background-color: var(--visual);
}

#myBar4 {
    width: 85%;
    height: 5px;
    background-color: var(--photography);
}

#myBar5 {
    width: 90%;
    height: 5px;
    background-color: var(--apps);
}

#myBar1,
#myBar2,
#myBar3,
#myBar4,
#myBar5 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.skill ul li {
    display: flex;
    justify-content: space-between;
}

.skill ul li b {
    font-family: 'Poppin', sans-serif;
    font-weight: 500;
    font-size: 15px;
    opacity: 0.3;
}

.skill ul li {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
}
